body, html, ul, li, img {
    padding: 0;
    margin: 0;
    display: block;
    font: normal 12px/1.5 'microsoft yahei';
    overflow: hidden;
    box-sizing: border-box;
}


span {
    font: normal 12px/1.5 'microsoft yahei';
}

body, html {
    height: 100%;
    width: 100%;
    overflow: auto;
    min-height: 799px;
}

li {
    list-style: none;
}
